:root {
    --gray-800: #424242;
    
    --violet-main: #5a2fcf;
    --violet-light: #5a2fcfed;
    --violet-dark: #5029bc;
    --violet-40: #825de966;
    --violet-4: #b7a2f30a;
    --violet-secondary-light: #e5e3fb;
    --purple-main: #825de9;

    --lilac-secondary: #b7a2f3;

    --black-monochrome: #121212;
    --black-monochrome-24: #1212123d;
    --black-monochrome-40: #12121266;
    --black-monochrome-54: #1212128a;
    --black-monochrome-60: #12121299;
    --black-monochrome-72: #545454;
    --gray-60: #e9ebf899;
    --gray-40: #9ea7b966;
    --gray-base: #939699;
    --gray-monochrome: #9ea7b9;
    --gray-monochrome-20: #9ea7b933;
    --gray-monochrome-40: #9ea7b966;

    --green-main: #2dd29c;
    --orange-sec: #ff791a;
    --negative-sec: #ef4444;
    --orange-base: #eb6506;

    --positive-secondary: #00b242;

    --white-contrast: #f3f7fe;
    --white--contrast-72: rgba(243, 247, 254, 0.72);
    --white-contrast-40: #f3f7fe66;
    --white-contrast-66: #f3f7fea8;
    --white-monochrome: #e9ebf8;
    --white-transparent: #f0f0f033;
}
