@import "./variables/colors.scss";
@import "./variables/fonts.scss";
@import "normalize.css";

body {
  font-family: "Roboto Mono", ui-sans-serif, system-ui, sans-serif;
  color: black;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  margin: 0;
}

#root,
#__nuxt {
  isolation: isolate;
}

* {
  margin: 0;
  pointer-events: all;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}
